<footer class="">
    <div class="top px-6 lg:px-24 py-8 flex  justify-between lg:items-center">
      <div class="logo">
          <img src="../../../assets/images/logo.png" alt="" class="w-28 pb-2">
          <p class="text-sm pl-1">Le best offer pour vous. </p>
      </div>
      <div class="social flex items-center">
          <a href=""><img src="../../../assets/images/Tracé 231.png" alt="" class="w-7 mr-8"></a>
          <a href=""><img src="../../../assets/images/Icon simple-instagram.png" alt="" class="w-7"></a>
      </div>
    </div>
    <div class="copyright text-xs lg:text-sm px-1 lg:px-24 py-2 lg:py-4 flex justify-between items-center">
        <p>Copyright  &copy;  2022 Tout droits reservée.</p>
        <div class="terms flex flex-col lg:flex-row">
            <a href="" class="mr-4 mb-1 lg:mb-0">Terms & conditions</a>
            <a href="">Policy Privacy</a>
        </div>
    </div>
  </footer>
