<app-navbar></app-navbar>
<section class="login w-full h-full ">
    <div class="login-left h-52 lg:block">
        <h1 class="text-2xl lg:text-3xl font-bold py-28 px-8 lg:p-28 text-white">Contacter nous</h1>
    </div>
    <div class="login-form lg:w-3/5 mx-auto px-8 lg:px-32 py-16">
        <form action="" class="flex flex-col">
            <label for="nom" class="font-semibold">Nom Complete :</label>
            <input type="text" name="nom" class="p-2 my-2 mb-4 border rounded-md"> 
            <label for="email" class="font-semibold">Email :</label>
            <input type="email" name="email" class="p-2 my-2 border rounded-md">
            <label for="message" class="font-semibold">Message :</label>
            <textarea name="message" id="" cols="30" rows="4" class="p-2 my-2 border rounded-md"></textarea>
            <input type="submit" name="submit" value="Envoyer" class="p-2 my-8 font-bold border rounded-md">
        </form>
    </div>

</section>
<app-footer></app-footer>